<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>Add Category</title>
</head>
<body>
    <div class="container"><br>
        <h2>Add New Category :</h2><br>
        <form action="/saveCategory" method="post">
            <div class="form-group">
                <label for="name">Enter Your Category Name :</label>
                <input type="text" name="name" class="form-control" required>
            </div>
            <button class="btn btn-primary" type="submit">Add New</button>
        </form>
    </div>
</body>
</html>